{%extends 'main/base.html'%}
{% load crispy_forms_tags %}
{%block content%}
<div class="container">
    <div class="pt-5 mx-auto">
        <div class="h5 display-5 lead text-justify" style="user-select: none;">Update {{get_user.username}}'s password</div>
    </div>
    <div class="pt-5 mx-auto">
        <form method="post">
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            {% endfor %}
            {% csrf_token %}
            {{ form |crispy}}
            <div class="pt-3">
                <button type="submit" class="btn btn-success">Apply Change</button>
                <a href="{% url 'user:profile' user.username %}" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>
{%endblock%}